---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidlines-*,
  misc-*,
  modernize-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-length,
WarningsAsErrors: "*"
CheckOptions:
  - { key: readability-identifier-naming.ClassCase,              value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,             value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,           value: lower_case }
  - { key: readability-identifier-naming.VariableCase,           value: lower_case }
  - { key: readability-identifier-naming.ConstantCase,           value: CamelCase  }